#**Exercise 1**

**Basic Python**

Soal 1 Variable String

1.) Buatlah sebuah variabel bernama bank, isi variabel tersebut dengan "Great Edu"

2.) Cetak hasilnya

In [ ]:
bank = "Great Edu"
print (bank)

Great Edu

**Strings**

Soal 2 Indexed

1.) Ambil kata "great" dari variabel course

2.) Ubah teks tersebut menjadi kapital semua

In [ ]:
course = "great"
course.upper()

'GREAT'

**List**

Soal 3 Check type

1.) Buatlah sebuah variabel bernama flower1 isi variabel tersebut dengan [Daisy, Dandelion, Rose]

2.) Cek type data variabel tersebut

In [ ]:
flower1 = ['Daisy','Dandelion','Rose']
print(type(flower1))

<class 'list'>

**List**

Soal 4 Nested List

1.) Buatlah sebuah variabel bernama flower2 isi variabel tersebut dengan [Sunflower, Tulip]

1.) Buar variabel type list dengan nama flower, berisi flower1, flower2

3.) Cetak hasilnya

In [ ]:
flower2 = ['Sunflower','Tulip']
flower = [flower1, flower2]
print(flower)

[['Daisy', 'Dandelion', 'Rose'], ['Sunflower', 'Tulip']]

**List**

Soal 5 Indexed list

1.) Ambil nama bunga Rose dari index variabel flower1

2.) Ubah teks tersebut menjadi huruf kecil semua

In [ ]:
flower1 = ['Daisy','Dandelion','Rose']
flower1[2].lower()

'rose'

#**Exercise 2**

**Tuple**

Soal 1

1.) Buatlah sebuah variabel bernama fruits, isi variabel tersebut dengan "apple, banana, cherry, orange, kiwi, melon, mango"

2.) Cek typenya!

In [27]:
fruits  = ('apple','banana','cherry','orange','kiwi','melon','mango')
print(type(fruits))

<class 'tuple'>

**Tuple**

Soal 2

1.) Ambil item apple sebanyak 2, orange 1, mango 3

2.) Simpan dengan nama variabel add

3.) Cetak hasilnya

In [28]:
add = ((fruits[0:1])*2 + (fruits[3:4]) + (fruits[6:7])*3)
print(add)

('apple', 'apple', 'orange', 'mango', 'mango', 'mango')

**Tuple**

Soal 3

1.) Buat variabel new dengan berisi gabungkan variabel add dengan variabel fruits

2.) Urutkan isi variabel new

In [29]:
new = (add + fruits)
print(sorted(new))

['apple', 'apple', 'apple', 'banana', 'cherry', 'kiwi', 'mango', 'mango', 'mango', 'mango', 'melon', 'orange', 'orange']

**Set**

Soal 4

1.) Ubah variable new dari tipe data tuple menjadi set

2.) Tambahkan item pear

3.) Cetak hasilnya dan hitung jumlah itemnya

In [32]:
new = set(new)
print(new)

{'banana', 'melon', 'mango', 'orange', 'kiwi', 'pear', 'cherry', 'apple'}

In [33]:
new.add('pear')
print(new)

{'banana', 'melon', 'mango', 'orange', 'kiwi', 'pear', 'cherry', 'apple'}

In [34]:
new = list(new)
print(len(new))

8

**Dictionary**

Soal 5

1.) Buatlah sebuah variabel bernama cars dengan ketentuan

{"Toyota Vios":270000000,

"Toyota Yaris":235000000,

"Honda Civic":400000000,

"Nissan Skyline":690000000,

"Honda City":312000000}

1.) Cetak hasilnya

3.) Cetak typenya

In [35]:
cars = {"Toyota Vios":270000000, "Toyota Yaris":235000000, "Honda Civic":400000000, "Nissan Skyline":690000000, "Honda City":312000000}
print(cars)

{'Toyota Vios': 270000000, 'Toyota Yaris': 235000000, 'Honda Civic': 400000000, 'Nissan Skyline': 690000000, 'Honda City': 312000000}

In [36]:
print(type(cars))

<class 'dict'>

**Dictionary**

Soal 6

1.) Tambahkan key dan value dibawah ini BMW M3:1900000000

1.) Cetak hasilnya dengan ketentuan diurutkan berdasarkan
item

In [37]:
cars2 = {"BMW M3":1900000000}
cars.update(cars2)
print(cars)

{'Toyota Vios': 270000000, 'Toyota Yaris': 235000000, 'Honda Civic': 400000000, 'Nissan Skyline': 690000000, 'Honda City': 312000000, 'BMW M3': 1900000000}

In [38]:
print(sorted(cars))

['BMW M3', 'Honda City', 'Honda Civic', 'Nissan Skyline', 'Toyota Vios', 'Toyota Yaris']

**Dictionary**

Soal 7

1.) Ubah value Nissan Skyline menjadi 641000000

2.) Cetak hasilnya

In [39]:
cars['Nissan Skyline'] = 641000000
print(cars['Nissan Skyline'])

641000000

**Dictionary**

Soal 8

1.) Ubah key Nissan Skyline menjadi Honda Accord

2.) Cetak hasilnya

In [40]:
cars['Honda Accord'] = cars['Nissan Skyline']
del cars['Nissan Skyline']
print(cars)

{'Toyota Vios': 270000000, 'Toyota Yaris': 235000000, 'Honda Civic': 400000000, 'Honda City': 312000000, 'BMW M3': 1900000000, 'Honda Accord': 641000000}

**Dictionary**

Soal 9

1.) Buat variabel cars_set dengan type data set berisi value dari variabel cars

2.) Buat variable cars_total dengan berisi total dari seluruh item

3.) Cetak hasilnya

In [41]:
cars_set = list(cars.values())
print(cars_set)

[270000000, 235000000, 400000000, 312000000, 1900000000, 641000000]

In [42]:
cars_total = sum(cars_set)
print(cars_total)

3758000000

**Dictionary**

Soal 10

1.) Tambahkan key Total pada variabel cars dengan value cars total

2.) Cetak hasilnya

In [43]:
cars['Total'] = cars_total
print(cars)

{'Toyota Vios': 270000000, 'Toyota Yaris': 235000000, 'Honda Civic': 400000000, 'Honda City': 312000000, 'BMW M3': 1900000000, 'Honda Accord': 641000000, 'Total': 3758000000}

#**Exercise 3**

**Checking for equality**

Soal 1

1.) Buatlah sebuah variabel bernama animal, isi variabel tersebut dengan ‘cat’

2.) Cetak hasilnya dengan output *True*

In [45]:
animal = 'cat'
animal == 'cat'

True

**Checking for equality**

Soal 2

1.) Buatlah sebuah variabel bernama year, isi variabel tersebut dengan 1997

2.) Cetak hasilnya dengan output *False*

In [46]:
year = 1997
year == 2022

False

**Check multiple conditions**

Soal 3

1.) Buatlah sebuah variabel bernama **umur1**, isi variabel tersebut dengan **23**

2.) Buatlah sebuah variabel bernama **umur2**, isi variabel tersebut dengan **26**

3.) Cetak hasilnya dengan output *True*

In [47]:
umur1 = 23
umur2 = 26
if umur1 == 23 and umur2 == 26:
    print(True)
else:
    print(False)

True

**Testing if a value is in a list**

Soal 4

1.) Buatlah sebuah list **mobil** dengan isi **bmw, nissan, honda, toyota**

2.) Cetak hasilnya dengan output *True*

In [48]:
mobil = ['bmw', 'nissan', 'honda', 'toyota']
if mobil == ['bmw', 'nissan', 'honda', 'toyota']:
    print(True)
else:
    print(False)

True

#**Exercise 4**

**Variables**

Exercise

define several variables

name = 'Callum'

height = 178.394509

age = 39

1.) Print the customer name, height and age in one line,

2.) Give 2 numbers after full stop on height variable

3.) format print: customer name is henny, height: 178.05 cm and age: 39

In [49]:
name = 'Callum'
height = 178.394509
age = 39

print('name:',name ,'height:',height ,'age:',age)

name: Callum height: 178.394509 age: 39

In [50]:
print("%.2f" % height )

178.39

In [51]:
name = 'henny'
height = 178.05
age = 39
print("customer name is %s, height: %d cm and age: %d" % (name,height,age))

customer name is henny, height: 178 cm and age: 39

 **Lists**

Exercise

1.) Create a list of 6 customers

Brian, Dian, Kristin, Donny, Andry, Stella

2.) Print Andry from customer array

3.) Print Donny from customer array

In [52]:
customers = ['Brian', 'Dian','Kristin','Donny','Andry','Stella']
customers

['Brian', 'Dian', 'Kristin', 'Donny', 'Andry', 'Stella']

In [53]:
customers[4]

'Andry'

In [54]:
customers[3]

'Donny'

**Lists**

Exercise

1.) Create a matrix, one array can be stored multiple data type

this matrix consist of customer name, salary and age

['Brian', 100059540, 20],

['Dian', 12036564, 28],

['Kristin', 93465650, 25],

['Donny', 376170, 30],

['Andry', 7657120, 23],

['Stella', 3452343, 29]

2.) Print Andry's detail

3.) Print Stella's age

In [55]:
customer = [['Brian', 100059540, 20],
            ['Dian', 12036564, 28],
            ['Kristin', 93465650, 25],
            ['Donny', 376170, 30],
            ['Andry', 7657120, 23],
            ['Stella', 3452343, 29]]

customer

[['Brian', 100059540, 20],
 ['Dian', 12036564, 28],
 ['Kristin', 93465650, 25],
 ['Donny', 376170, 30],
 ['Andry', 7657120, 23],
 ['Stella', 3452343, 29]]

In [56]:
print(customer[4])

['Andry', 7657120, 23]

In [57]:
print(customer[5][2])

29

**Conditions/if else**

Exercise

Create a program that groups a student into type of education level
with these rules

elementary: age from 6 - 12

junior_hs: age from 12 - 15

high_school: age from 15 - 18

university: age from 18 - 22

Ano = 19

In [58]:
Ano = 19

if 6 < Ano <= 12:
  print("elementary")
elif 12 < Ano <= 15:
  print("junior_hs")
elif 15 < Ano <= 18:
  print("high_school")
elif 18 < Ano <= 22:
  print("university")

university

**Looping**

Exercise

1.) Create a list with 5 staffs

staffs = ['Adi', 'Agil', 'Henny', 'Ano', 'Hengky']

2.) Add one variable

debts = [5430340.405, 30345.034, 93445.344, 245454.453, 842555.533]

3.) Print the staff name from staffs variable and with their debts (with 2 numbers after full stop)

example staff 1 : Adi has debt 5430340.4

In [59]:
name = ['Adi', 'Agil', 'Henny', 'Ano', 'Hengky']
staffs = []
for i in name:
  staffs.append(i)

print(staffs)

['Adi', 'Agil', 'Henny', 'Ano', 'Hengky']

In [60]:
debts = [5430340.405, 30345.034, 93445.344, 245454.453, 842555.533]

In [61]:
for i in staffs:
    for d in debts:
        print(i + " has debt " + str(round(d,1)))

Adi has debt 5430340.4
Adi has debt 30345.0
Adi has debt 93445.3
Adi has debt 245454.5
Adi has debt 842555.5
Agil has debt 5430340.4
Agil has debt 30345.0
Agil has debt 93445.3
Agil has debt 245454.5
Agil has debt 842555.5
Henny has debt 5430340.4
Henny has debt 30345.0
Henny has debt 93445.3
Henny has debt 245454.5
Henny has debt 842555.5
Ano has debt 5430340.4
Ano has debt 30345.0
Ano has debt 93445.3
Ano has debt 245454.5
Ano has debt 842555.5
Hengky has debt 5430340.4
Hengky has debt 30345.0
Hengky has debt 93445.3
Hengky has debt 245454.5
Hengky has debt 842555.5

**Function**

Exercise

1.) Create a function that calculate total price

food = 60000, drink = 20000, ppn = 10%, service charge =
5%

2.) Store the result into a variable

3.) Print the result

In [62]:
def total_price(food, drink):
    total = food + drink
    ppn = 0.1 * total
    sc = 0.05 * total
    total_all = total + ppn + sc
    return total_all

total_price(60000, 20000)

92000.0