<a href="https://colab.research.google.com/github/Zulfatinnafisah/Kumpulan-Tugas-Kampus-Merdeka/blob/main/Tugas_2_week_VI_Numpy_Data_Types_Zulfatin_Nafisah.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Tugas Numpy Week 6**

**1.) Bagaimana cara untuk menggunakan NumPy pada python?**

**Jawab :**

=> Cara untuk menggunakan Numpy pada python library adalah dengan melakukan import menggunakan coding library numpy as np. Penggunaan as disini, artinya kita menggantikan pemanggilan numpy dengan prefix np untuk proses berikutnya.

![image.png]()


=> Jika belum ada NumPy dapat diinstall terlebih dahulu menggunakan pip

![image.png]()

**2.) Setiap lokasi elemen dalam array disebut?**

**Jawab :** 

Setiap lokasi elemen dalam array disebut Index Element

**3.) Diberikan sebuah array dengan fungsi sebagai berikut**

x=np.array( [ [1, 2, 3, 4],[5, 6, 7, 8],[10, 11, 12, 13] ] )

**Berapakah nilai dari x [2, 1] ?**

**Jawab :**

Nilai dari x [2, 1] adalah 11.

Berikut codenya:

In [2]:
import numpy as np

x = np.array([[1,2,3,4],[5,6,7,8],[10,11,12,13]])
print(x[2,1])

11

**4.) Diberikan sebuah array dengan fungsi sebagai berikut**

nama = np.array( [ "Ria" , "Sahid" , "Hayah" , "Maryam" ,
"Fandy" ] )

**Jika nama Haya akan diganti dengan Afifah, tuliskan fungsi/code pada python untuk array tersebut**

**Jawab :**

In [3]:
nama = np.array(["Ria" , "Sahid" , "Hayah" , "Maryam" ,"Fandy"])
nama[2] = "Afifah"
print(nama)

['Ria' 'Sahid' 'Afifah' 'Maryam' 'Fandy']

**5.) Tuliskan fungsi untuk mengubah sebuah data type array menjadi float. Perhatikan array sebelum dan sesudah.**


Sebelum :  

[1 2 3 4]

Sesudah :

[1. 2. 3. 4.]

In [4]:
angka = np.array([1, 2, 3, 4])
print(angka)
print(angka.dtype)

[1 2 3 4]
int64

In [5]:
new_angka = angka.astype('f')
print(new_angka)
print(new_angka.dtype)

[1. 2. 3. 4.]
float32

**6.) Tulis fungsi/code NumPy untuk mengubah list nilai numerik ( 12.23, 13.32, 100, 36.32 ) menjadi array NumPy satu dimensi.**

In [6]:
list_numerik = [12.23, 13.32, 100, 36.32]
arr_numerik = np.array(list_numerik)
print(arr_numerik)
print(arr_numerik.dtype)

[ 12.23  13.32 100.    36.32]
float64

**7.) Tulis fungsi/code NumPy untuk menampilkan hari ini, kemarin, dan besok**

In [7]:
skrg = np.datetime64('today', 'D')
kmrn = np.datetime64('today', 'D') - np.timedelta64(1, 'D')
bsk = np.datetime64('today', 'D') + np.timedelta64(1, 'D')

print("Hari ini adalah tanggal", skrg)
print("Kemarin adalah tanggal", kmrn)
print("Besok ini adalah tanggal", bsk)

Hari ini adalah tanggal 2022-10-04
Kemarin adalah tanggal 2022-10-03
Besok ini adalah tanggal 2022-10-05