<a href="https://colab.research.google.com/github/Zulfatinnafisah/Kumpulan-Tugas-Kampus-Merdeka/blob/main/Tugas_week_VI_Pandas_Dataframes_Zulfatin_Nafisah.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Exercise Pandas DataFrame**

**Task DataFrame**

Menggunakan data sales pada kaggle ini, carilah:

1.) Customer dengan jumlah amount (Quantity x Price) terbanyak

2.) Customer dengan jumlah amount terbanyak dari setiap negara

3.) Nama produk terjual terbanyak dari negara yang berawalan huruf ‘L’

In [20]:
import pandas as pd
import numpy as np

In [21]:
sales_transaction = pd.read_csv('Sales+Transaction+v.4a.csv')
sales_transaction.head()

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country
0,581482,12/9/2019,22485,Set Of 2 Wooden Market Crates,21.47,12,17490.0,United Kingdom
1,581475,12/9/2019,22596,Christmas Star Wish List Chalkboard,10.65,36,13069.0,United Kingdom
2,581475,12/9/2019,23235,Storage Tin Vintage Leaf,11.53,12,13069.0,United Kingdom
3,581475,12/9/2019,23272,Tree T-Light Holder Willie Winkie,10.65,12,13069.0,United Kingdom
4,581475,12/9/2019,23239,Set Of 4 Knick Knack Tins Poppies,11.94,6,13069.0,United Kingdom

In [22]:
sales_transaction.insert(6, 'Amount', sales_transaction['Price'] * sales_transaction['Quantity'])
sales_transaction.head()

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,Amount,CustomerNo,Country
0,581482,12/9/2019,22485,Set Of 2 Wooden Market Crates,21.47,12,257.64,17490.0,United Kingdom
1,581475,12/9/2019,22596,Christmas Star Wish List Chalkboard,10.65,36,383.40,13069.0,United Kingdom
2,581475,12/9/2019,23235,Storage Tin Vintage Leaf,11.53,12,138.36,13069.0,United Kingdom
3,581475,12/9/2019,23272,Tree T-Light Holder Willie Winkie,10.65,12,127.80,13069.0,United Kingdom
4,581475,12/9/2019,23239,Set Of 4 Knick Knack Tins Poppies,11.94,6,71.64,13069.0,United Kingdom

**Nomor 1**

Customer dengan jumlah amount (Quantity x Price) terbanyak

In [23]:
sales_transaction_1 = sales_transaction.groupby('CustomerNo')['Amount'].sum()
sales_transaction_1.sort_values(ascending=False).head()

CustomerNo
14646.0    2108959.95
18102.0     897137.36
12415.0     895267.24
17450.0     876816.01
14911.0     873037.90
Name: Amount, dtype: float64

**Nomor 2**

Customer dengan jumlah amount terbanyak dari setiap negara

In [24]:
sales_transaction_2 = sales_transaction.groupby('Country')['Amount'].sum()
sales_transaction_2.sort_values(ascending=False)

Country
United Kingdom          49994030.17
Netherlands              2147811.39
EIRE                     1660645.07
Germany                  1350265.40
France                   1316880.98
Australia                 988756.35
Sweden                    396042.61
Switzerland               358423.61
Japan                     283293.47
Belgium                   271346.98
Spain                     265738.80
Norway                    187544.79
Portugal                  175269.45
Finland                   120597.86
Denmark                   100439.12
Channel Islands            95783.19
Italy                      77397.22
Austria                    68548.30
Singapore                  63480.95
Cyprus                     62231.93
Israel                     54943.36
Iceland                    38321.90
Unspecified                32699.05
Canada                     30490.91
Hong Kong                  27835.50
Poland                     19753.30
USA                        17450.38
Malta                      12509.11
United Arab Emirates       11966.26
Greece                      9666.53
Lithuania                   8188.08
Czech Republic              6756.80
European Community          6181.01
Lebanon                     5692.32
Brazil                      4652.27
RSA                         4259.83
Bahrain                     3226.86
Saudi Arabia                 903.15
Name: Amount, dtype: float64

**Nomor 3**

Nama produk terjual terbanyak dari negara yang berawalan huruf ‘L’

In [30]:
produk_tt = sales_transaction.groupby([sales_transaction['Country'].str.contains('^L'), 'ProductName'])['Amount'].sum()
produk_tt_clear = produk_tt.drop('Country' == False)
produk_tt_clear.sort_values(ascending = False)

Country  ProductName
True     Feltcraft Doll Rosie                  617.28
         Red Harmonica In Box                  553.44
         Grey Floral Feltcraft Shoulder Bag    507.24
         Feltcraft Princess Lola Doll          450.88
         Silver Mug Bone China Tree Of Life    429.84
                                                ...
         Enamel Blue Rim Coffee Container       74.40
         Doormat Fancy Font Home Sweet Home     73.60
         Wood Black Board Ant White Finish      50.58
         Vintage Cream Dog Food Container       37.92
         Vintage Cream Cat Food Container       33.52
Name: Amount, Length: 73, dtype: float64